html{
	color:#000;
	background:url(images/bg.jpg);
}

body {
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	text-align:center;
	margin: 28px 0 15px 0;
	padding: 0 0 8px 0;
	font-size: 25px;
	text-transform: uppercase;
	border-bottom: solid 1px #d7d8d8;
	letter-spacing: 2px;
}

h2 {
	font-size: 20px;
	letter-spacing: 2px;
	padding: 0 0 9px 0;
	
}

h3 {
	padding: 0 0 8px 0;
	font-size: 12px;
	border-bottom: solid 1px #d7d8d8;
	letter-spacing: 1px;
}

p {
	font-size: 12px;
	margin: 0 0 15px 0;
	line-height: 18px;
}

li {
	font-size: 11px;
	line-height: 18px;
	
}

strong {
	font-weight: bold;
}

#wrapper {
	position: relative;
	overflow: auto;
	width: 968px;
	margin: 40px auto 0 auto;
	padding-bottom: 650px;
}

.section {
	width: 870px;
	padding: 20px 0 0 70px;
	background: url(images/bg-middle.jpg);
	height: 608px;
}

.top {
	position: relative;
	padding-top: 43px;
	height: 567px;
	background: url(images/bg-top.jpg) top left no-repeat;
}

.top p {
	color: #4D5350;
}

.top .collum1, .top .collum2 {
	height: 538px;
}

.top .collum1 .collum2 a {
	font-weight: bold;
	text-decoration: none;
	color: #6dc4da;
}

.top .collum2 h3 {
	margin-top: 0px;
}

.collum1 {
	float: left;
	width: 400px;
}

.collum2 {
	float: right;
	width: 395px;;
}
.bottom {
	width: 870px;
	padding: 20px 0 0 70px;
	background: url(images/bg-bottom.jpg);
	height: 608px;
}
a {
	color: #00CCCC;
	font-style: italic;
	text-decoration: none;
}